html {width:100%;height:100%}
body {height:568px;width:320px}
.app-viewport {position:absolute;top:0;bottom:0;width:100%}
p,h1,h2,h3,h4,h5,h6{overflow:hidden}a:focus,.btn:focus,.btn:active:focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn.active.focus,input[type="radio"]:focus,input[type="checkbox"]:focus{outline:0}.nav,.pagination,.carousel,.panel-title a{cursor:pointer}.modal{overflow:auto}.modal-dialog{margin-top:0;margin-bottom:0;padding-top:10px}.modal-content{overflow:hidden}.modal-backdrop{opacity:.5}.pagination{margin:0}
#NewPage {position:relative;width:100%;height:100%;overflow:auto;;background-color:#FFF}
#Paragraph1 {position:absolute;left:35px;top:85px;width:240px;height:86px;margin:0;}
#PushButton1 {position:absolute;left:30px;top:207px;width:246px;height:60px;margin:0;}
#DialogContainer1 {margin-left:auto;margin-right:auto;width:320px;height:568px;}
